::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Styles for the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners */
  }